<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>The Chat Room</title>
  <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav>
    <a href="/home"><img id="logo" src="/assets/img/face.png" alt="face logo"/></a>
    <div class="navName">The Chat Room</div>
  </nav>
  <main class="mainContent">
    <div id="chatCreator"></div>
    <div id="accountDisplay"></div>
    <div id="chatEditor"></div>
    <section id="leftBar">
      <section id="chats"></section>
      <section id="accountFooter"></section>
    </section>
    <section id="activeChat">
    </section>
    <section id="ads">
    </section>
  </main>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/assets/bundle.js"></script>
</body>
</html>
